package {{ .PackageName }}

import (
	"context"
	"log/slog"

	"github.com/{{ .AppNameToPackageName }}/config"
	"github.com/{{ .AppNameToPackageName }}/container"
	"github.com/{{ .AppNameToPackageName }}/features/auth"
	"github.com/{{ .AppNameToPackageName }}/types"

	validation "github.com/go-ozzo/ozzo-validation"
)

type {{ .GoTypeName }}Controller struct {
	{{ .FeatureNameLowerCamel }} {{ .GoTypeName }}Service
	logger  *slog.Logger
	cfg     config.Config
}

func New{{ .GoTypeName }}Controller(cont container.Container) {{ .GoTypeName }}Controller {
	authorizationService := auth.NewAuthorizationService(cont, "{{ .FeatureNameLowerCamel }}")
	{{ .FeatureNameLowerCamel }}Service := New{{ .GoTypeName }}Service(cont, authorizationService)

	return {{ .GoTypeName }}Controller{
		{{ .FeatureNameLowerCamel }}: {{ .FeatureNameLowerCamel }}Service,
		logger:  cont.GetLogger(),
		cfg:     cont.GetConfig(),
	}
}

func (ctrl {{ .GoTypeName }}Controller) GetByID(ctx context.Context, id string) (*{{ .GoTypeName }}Model, error) {
	if err := validation.Validate(id, types.Required("{{ .FeatureNameLowerCamel }}ID")); err != nil {
		return nil, err
	}

	result, err := ctrl.{{ .FeatureNameLowerCamel }}.GetByID(ctx, id)
	if err != nil {
		return nil, err
	}

	if result.IsDefault() {
		return nil, nil
	}

	return result, nil
}

func (ctrl {{ .GoTypeName }}Controller) Get(ctx context.Context, filter {{ .GoTypeName }}ListRequestParams) (*{{ .GoTypeName }}ListResponse, error) {
	return ctrl.{{ .FeatureNameLowerCamel }}.Get(ctx, filter)
}

func (ctrl {{ .GoTypeName }}Controller) Create(ctx context.Context, value {{ .GoTypeName }}Model) error {
	if err := value.CreateValidate(); err != nil {
		return err
	}
	return ctrl.{{ .FeatureNameLowerCamel }}.Create(ctx, value)
}

func (ctrl {{ .GoTypeName }}Controller) Update(ctx context.Context, value {{ .GoTypeName }}Model) error {
	if err := value.UpdateValidate(); err != nil {
		return err
	}

	return ctrl.{{ .FeatureNameLowerCamel }}.Update(ctx, value)
}

func (ctrl {{ .GoTypeName }}Controller) Delete(ctx context.Context, id string) error {
	if err := validation.Validate(id, types.Required("{{ .FeatureNameLowerCamel }}ID")); err != nil {
		return err
	}

	return ctrl.{{ .FeatureNameLowerCamel }}.Delete(ctx, id)
}
