package {{ .PackageName }}

import (
	"database/sql"
	"errors"
	"fmt"

	"github.com/{{ .AppNameToPackageName }}/repositories/database/sqlbuilder"
	"github.com/{{ .AppNameToPackageName }}/types"

	. "github.com/followthepattern/goqu/v9"
)

var {{ .FieldTypeGoName }}Table = S("app").Table("{{ .FeatureTableName }}")

type {{ .FieldTypeGoName }}Database struct {
	db *Database
}

func New{{ .FieldTypeGoName }}Database(database *sql.DB) {{ .FieldTypeGoName }}Database {
	db := New("postgres", database)

	return {{ .FieldTypeGoName }}Database{
		db: db,
	}
}

func (repo {{ .FieldTypeGoName }}Database) Create(values []{{ .FieldTypeGoName }}Model) (err error) {
	for i, _ := range values {
		values[i].Userlog.CreatedAt = types.TimeNow()
	}

	insertion := repo.db.Insert({{ .FieldTypeGoName }}Table)

	_, err = insertion.Rows(values).Executor().Exec()
	return
}

func (repo {{ .FieldTypeGoName }}Database) GetByID(id string) (*{{ .FieldTypeGoName }}Model, error) {
	value := {{ .FieldTypeGoName }}Model{}

	query := repo.db.From({{ .FieldTypeGoName }}Table).
		Where(Ex{
			"id": id})

	_, err := query.ScanStruct(&value)
	if err != nil {
		return nil, err
	}

	return &value, nil
}

func (repo {{ .FieldTypeGoName }}Database) Get(request {{ .FieldTypeGoName }}ListRequestParams) (*{{ .FieldTypeGoName }}ListResponse, error) {
	data := []{{ .FieldTypeGoName }}Model{}

	query := repo.db.From({{ .FieldTypeGoName }}Table)

	if request.Filter.Search.IsValid() {
		pattern := fmt.Sprintf("%%%s%%", request.Filter.Search)
		query = query.Where(
			Or(
			{{- range .Fields }}{{- if eq .Type "string" }}
				I("{{ .FieldNameDB }}").Like(pattern),
			{{- end }}{{- end }}
			))
	}

	count, err := query.Count()
	if err != nil {
		return nil, err
	}

	query = sqlbuilder.WithPagination(query, request.Pagination)

	query = sqlbuilder.WithOrderBy(query, request.OrderBy)

	err = query.ScanStructs(&data)
	if err != nil {
		return nil, err
	}

	result := {{ .FieldTypeGoName }}ListResponse{
		Count:    types.Int64From(count),
		PageSize: request.Pagination.PageSize,
		Page:     request.Pagination.Page,
		Data:     data,
	}

	return &result, nil
}

func (repo {{ .FieldTypeGoName }}Database) Update(model {{ .FieldTypeGoName }}Model) error {
	model.Userlog.UpdatedAt = types.TimeNow()

	_, err := repo.db.Update({{ .FieldTypeGoName }}Table).
		Set(model).
		Where(I("id").Eq(model.ID)).
		Executor().
		Exec()

	return err
}

func (repo {{ .FieldTypeGoName }}Database) Delete(id string) error {
	res, err := repo.db.
		Delete({{ .FieldTypeGoName }}Table).
		Where(C("{{ .IDField.FieldNameDB }}").Eq(id)).
		Executor().
		Exec()

	if err != nil {
		return err
	}

	rows, err := res.RowsAffected()
	if err != nil {
		return err
	}

	if rows < 1 {
		return errors.New("no rows been deleted")
	}

	return err
}
