package {{ .PackageName }}

import (
	"forgefy/{{.AppName}}/models"
	"forgefy/{{.AppName}}/types"
	validation "github.com/go-ozzo/ozzo-validation"
)

type {{ .GoTypeName }}Model struct {
	{{- range .Fields }}
	{{ .Name }} {{ .Type }} `db:"{{ .Name }}" goqu:"omitempty"`
	{{- end }}
	models.Userlog
}

func (m {{ .GoTypeName }}Model) IsDefault() bool {
	return m.ID.Len() < 1
}

func (m {{ .GoTypeName }}Model) CreateValidate() error {
	return validation.ValidateStruct(&m,
		{{- range .Fields }}
		validation.Field(&m.{{ .Name }}, validation.Required),
		{{- end }}
	)
}

func (m {{ .GoTypeName }}Model) UpdateValidate() error {
	return validation.ValidateStruct(&m,
		validation.Field(&m.ID, validation.Required),
	)
}

type {{ .GoTypeName }}ListRequestParams = models.ListRequestParams[models.ListFilter]

type {{ .GoTypeName }}ListResponse = models.ListResponse[{{ .GoTypeName }}Model]
