package {{ .PackageName }}

import (
	"encoding/json"
	"net/http"

	"github.com/{{ .AppNameToPackageName }}/api/httpresponses"
	"github.com/{{ .AppNameToPackageName }}/models"
	"github.com/{{ .AppNameToPackageName }}/types"

	"github.com/go-chi/chi"
)

type {{ .FieldTypeGoName }}Rest struct {
	{{ .FeatureNameLowerCamel }} {{ .FieldTypeGoName }}Controller
}

func New{{ .FieldTypeGoName }}Rest(ctrl {{ .FieldTypeGoName }}Controller) {{ .FieldTypeGoName }}Rest {
	return {{ .FieldTypeGoName }}Rest{
		{{ .FeatureNameLowerCamel }}: ctrl,
	}
}

func (service {{ .FieldTypeGoName }}Rest) GetByID(w http.ResponseWriter, r *http.Request) {
	id := chi.URLParam(r, "id")

	result, err := service.{{ .FeatureNameLowerCamel }}.GetByID(r.Context(), id)
	if err != nil {
		httpresponses.BadRequest(w, err.Error())
		return
	}

	httpresponses.Write(w, http.StatusOK, result)
}

func (service {{ .FieldTypeGoName }}Rest) Get(w http.ResponseWriter, r *http.Request) {
	search := chi.URLParam(r, "search")

	filter := {{ .FieldTypeGoName }}ListRequestParams{
		Filter: models.ListFilter{
			Search: types.StringFrom(search),
		},
	}

	results, err := service.{{ .FeatureNameLowerCamel }}.Get(r.Context(), filter)

	if err != nil {
		httpresponses.BadRequest(w, err.Error())
		return
	}

	httpresponses.Write(w, http.StatusOK, results)
}

func (service {{ .FieldTypeGoName }}Rest) Create(w http.ResponseWriter, r *http.Request) {
	var value {{ .FieldTypeGoName }}Model
	err := json.NewDecoder(r.Body).Decode(&value)
	if err != nil {
		httpresponses.BadRequest(w, httpresponses.FailedToDecodeRequestBody)
		return
	}

	err = service.{{ .FeatureNameLowerCamel }}.Create(r.Context(), value)
	if err != nil {
		httpresponses.BadRequest(w, err.Error())
		return
	}

	httpresponses.Created(w)
}

func (service {{ .FieldTypeGoName }}Rest) Update(w http.ResponseWriter, r *http.Request) {
	var value {{ .FieldTypeGoName }}Model
	err := json.NewDecoder(r.Body).Decode(&value)
	if err != nil {
		httpresponses.BadRequest(w, httpresponses.FailedToDecodeRequestBody)
		return
	}

	id := r.URL.Query().Get("id")
	value.ID = types.StringFrom(id)

	err = service.{{ .FeatureNameLowerCamel }}.Update(r.Context(), value)
	if err != nil {
		httpresponses.BadRequest(w, err.Error())
		return
	}

	httpresponses.Success(w)
}