package {{ .PackageName }}

import (
	"encoding/json"
	"net/http"

	"github.com/{{ .AppNameToPackageName }}/api"
)

type {{ .GoTypeName }}Rest struct {
	{{ .FeatureNameLowerCamel }} {{ .GoTypeName }}Controller
}

func New{{ .GoTypeName }}Rest(ctrl {{ .GoTypeName }}Controller) {{ .GoTypeName }}Rest {
	return {{ .GoTypeName }}Rest{
		{{ .FeatureNameLowerCamel }}: ctrl,
	}
}

func (service {{ .GoTypeName }}Rest) Create(w http.ResponseWriter, r *http.Request) {
	var value {{ .GoTypeName }}Model
	err := json.NewDecoder(r.Body).Decode(&value)
	if err != nil {
		api.BadRequest(w, api.FailedToDecodeRequestBody)
		return
	}

	err = service.{{ .FeatureNameLowerCamel }}.Create(r.Context(), value)
	if err != nil {
		api.BadRequest(w, err.Error())
		return
	}

	api.Created(w)
}
