package {{ .FeatureNamePackage }}

import (
	"context"
	"log/slog"

	"github.com/{{ .AppNamePackage }}/accesscontrol"
	"github.com/{{ .AppNamePackage }}/container"
	"github.com/{{ .AppNamePackage }}/features/auth"
	"github.com/{{ .AppNamePackage }}/features/{{ .FeatureNamePackage }}/models"
	"github.com/{{ .AppNamePackage }}/types"
	"github.com/google/uuid"
)

type {{ .FeatureNameGo }}Service struct {
	authorizationService auth.AuthorizationService
	logger               *slog.Logger
	{{ .FeatureNameCamelCase }}Repository	{{ .FeatureNameGo }}Database
}

func New{{ .FeatureNameGo }}Service(cont container.Container, authorizationService auth.AuthorizationService) {{ .FeatureNameGo }}Service {
	repository := New{{ .FeatureNameGo }}Database(cont.GetDB())
	service := {{ .FeatureNameGo }}Service{
		authorizationService: authorizationService,
		{{ .FeatureNameCamelCase }}Repository:    repository,
		logger:	cont.GetLogger(),
	}

	return service
}

func (service {{ .FeatureNameGo }}Service) GetByID(ctx context.Context, id string) (*models.{{ .FeatureNameGo }}Model, error) {
	err := service.authorizationService.Authorize(ctx, accesscontrol.READ, id)
	if err != nil {
		return nil, err
	}

	return service.{{ .FeatureNameCamelCase }}Repository.GetByID(id)
}

func (service {{ .FeatureNameGo }}Service) Get(ctx context.Context, request models.{{ .FeatureNameGo }}ListRequestParams) (models.*{{ .FeatureNameGo }}ListResponse, error) {
	err := service.authorizationService.Authorize(ctx, accesscontrol.READ, accesscontrol.ALLRESOURCE)
	if err != nil {
		return nil, err
	}

	request.Pagination.SetDefaultIfEmpty()

	return service.{{ .FeatureNameCamelCase }}Repository.Get(request)
}

func (service {{ .FeatureNameGo }}Service) Create(ctx context.Context, value models.{{ .FeatureNameGo }}Model) error {
	userID, err := service.authorizationService.AuthorizedUser(ctx, accesscontrol.CREATE, accesscontrol.NEW)
	if err != nil {
		return err
	}

	value.{{ .IDField.FieldNameCamelCaseUpper }} = types.StringFrom(uuid.NewString())
	value.Userlog.CreationUserID = types.StringFrom(userID)

	return service.{{ .FeatureNameCamelCase }}Repository.Create([]{{ .FeatureNameGo }}Model{value})
}

func (service {{ .FeatureNameGo }}Service) Update(ctx context.Context, value models.{{ .FeatureNameGo }}Model) error {
	userID, err := service.authorizationService.AuthorizedUser(ctx, accesscontrol.UPDATE, value.{{ .IDField.FieldNameCamelCaseUpper }}.Data)
	if err != nil {
		return err
	}

	value.UpdateUserID = types.StringFrom(userID)

	return service.{{ .FeatureNameCamelCase }}Repository.Update(value)
}

func (service {{ .FeatureNameGo }}Service) Delete(ctx context.Context, id string) error {
	err := service.authorizationService.Authorize(ctx, accesscontrol.DELETE, id)
	if err != nil {
		return err
	}

	return service.{{ .FeatureNameCamelCase }}Repository.Delete(id)
}
