package {{ .PackageName }}

import (
	"context"
	"log/slog"

	"github.com/{{ .AppNameToPackageName }}/accesscontrol"
	"github.com/{{ .AppNameToPackageName }}/container"
	"github.com/{{ .AppNameToPackageName }}/features/auth"
	"github.com/{{ .AppNameToPackageName }}/types"
	"github.com/google/uuid"
)

type {{ .GoTypeName }}Service struct {
	authorizationService auth.AuthorizationService
	logger               *slog.Logger
	productRepository    {{ .GoTypeName }}Database
}

func New{{ .GoTypeName }}Service(cont container.Container, authorizationService auth.AuthorizationService) {{ .GoTypeName }}Service {
	productRepository := New{{ .GoTypeName }}Database(cont.GetDB())
	product := {{ .GoTypeName }}Service{
		authorizationService: authorizationService,
		productRepository:    productRepository,
		logger:               cont.GetLogger(),
	}

	return product
}

func (service {{ .GoTypeName }}Service) GetByID(ctx context.Context, id string) (*{{ .GoTypeName }}Model, error) {
	err := service.authorizationService.Authorize(ctx, accesscontrol.READ, id)
	if err != nil {
		return nil, err
	}

	return service.productRepository.GetByID(id)
}

func (service {{ .GoTypeName }}Service) Get(ctx context.Context, request {{ .GoTypeName }}ListRequestParams) (*{{ .GoTypeName }}ListResponse, error) {
	err := service.authorizationService.Authorize(ctx, accesscontrol.READ, accesscontrol.ALLRESOURCE)
	if err != nil {
		return nil, err
	}

	request.Pagination.SetDefaultIfEmpty()

	return service.productRepository.Get(request)
}

func (service {{ .GoTypeName }}Service) Create(ctx context.Context, value {{ .GoTypeName }}Model) error {
	userID, err := service.authorizationService.AuthorizedUser(ctx, accesscontrol.CREATE, accesscontrol.NEW)
	if err != nil {
		return err
	}

	value.ID = types.StringFrom(uuid.NewString())
	value.Userlog.CreationUserID = types.StringFrom(userID)

	return service.productRepository.Create([]{{ .GoTypeName }}Model{value})
}

func (service {{ .GoTypeName }}Service) Update(ctx context.Context, value {{ .GoTypeName }}Model) error {
	userID, err := service.authorizationService.AuthorizedUser(ctx, accesscontrol.UPDATE, value.ID.Data)
	if err != nil {
		return err
	}

	value.UpdateUserID = types.StringFrom(userID)

	return service.productRepository.Update(value)
}

func (service {{ .GoTypeName }}Service) Delete(ctx context.Context, id string) error {
	err := service.authorizationService.Authorize(ctx, accesscontrol.DELETE, id)
	if err != nil {
		return err
	}

	return service.productRepository.Delete(id)
}
