import { Link } from "react-router-dom";

interface Entity {
    id?: string
}

export interface TableProperties<T = Entity> {
    entities: T[]
}

export interface CreateTableProperties<T> {
    headerColumns: string[]
    getEditLink: (entity: T) => string
    getViewLink: (entity: T) => string
    getCells: (entity: T) => (string | undefined)[]
}

export default function CreateTable<T extends Entity>({
    headerColumns, getEditLink,
    getViewLink, getCells }: CreateTableProperties<T>): React.ComponentType<TableProperties<T>> {
    return function ({ entities }: TableProperties<T>) {
        return (
            <div className="overflow-x-auto border border-gray-fill sm:rounded-lg">
                <table className="w-full text-sm text-left text-gray-stroke-strong">
                    <thead className="text-xs text-gray-supporting uppercase gray-fill">
                        <tr>
                            {headerColumns.map(column => (
                                <th scope="col" key={column} className="px-6 py-3">
                                    {column}
                                </th>)
                            )}
                            <th scope="col" key="action" className="px-6 py-3 text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody className="divide-y divide-gray-fill">
                        {entities.map(entity => (
                            <tr key={entity.id} className="bg-white hover:bg-gray-fill">
                                {getCells(entity).map(cell => (
                                    <td key={cell} className="px-6 py-4 font-medium text-gray-primary whitespace-nowra">
                                        <Link to={getViewLink(entity)} className="hover:text-brand-hover">
                                            {cell}
                                        </Link>
                                    </td>
                                ))}
                                <td className="px-6 py-4 text-right">
                                    <Link to={getEditLink(entity)} className="p-1 font-medium text-brand rounded-lg hover:bg-gray-stroke-weak">
                                        Edit
                                    </Link>
                                </td>
                            </tr>
                        ))}
                    </tbody>
                </table>
            </div >
        )
    }
}