import { ZonedDateTime } from "@internationalized/date";


export function ZonedDateTimeToRFC3339(time: ZonedDateTime | undefined): string {
    if (!time) {
        return ""
    }

    if (time.hour === undefined && time.minute === undefined && time.second === undefined) {
        time = new ZonedDateTime(
            time.year,
            time.month,
            time.day,
            "",
            0,
            0,
            0,
            0,
            0,
        )
    }

    return time.toAbsoluteString()
}