import { ListResponse } from "@/lib/query";

export interface SingleQueryResult<Data = any> {
    loading: boolean;
    data?: Data;
    error?: any;
    itemNotFound?: boolean;
}

export interface QueryResourceResponse<T> {
	profile?: T
	single?: T
	list?: ListResponse<T>
}