package storage

import (
	"mime/multipart"
	"os"
)

const (
	MAX_UPLOAD_SIZE   = 1024 * 1024
	DEFAULT_DIRECTORY = "upload_dir"
)

var (
	_                            Storage = (*LocalStorage)(nil)
	FileSizeExceedsMaxUploadSize         = "uploaded file is too big: %s. Please use an image less than 2MB in size"
)

type Storage interface {
	Upload(directoryPath string, file multipart.File, fileHeader multipart.FileHeader) (string, error)
	Download(filePath string) (*os.File, error)
}
