export const updateUser = `
mutation UpdateUser($id: String!, $model: UpdateUser!) {
	users {
		update(id: $id, model: $model) {
			code
		}
	}
}`

export const createUser = `
mutation CreateUser($model: CreateUser!) {
	users {
		create(model: $model) {
			code
		}
	}
}`


export const deleteUser = `
mutation DeleteUser($ids: [String!]!) {
	users {
		delete(ids: $ids) {
			code
		}
	}
}`