package auth

import (
	"time"

	"github.com/{{ .AppNamePackage }}/features/user/models"
	"github.com/{{ .AppNamePackage }}/types"
	validation "github.com/go-ozzo/ozzo-validation"
)

type LoginRequestParams struct {
	Email    types.String `json:"email"`
	Password types.String `json:"password"`
}

func (l LoginRequestParams) Validate() error {
	return validation.ValidateStruct(&l,
		validation.Field(&l.Email, validation.Required),
		validation.Field(&l.Password, validation.Required),
	)
}

type LoginResponse struct {
	JWT       string    `json:"jwt,omitempty"`
	ExpiresAt time.Time `json:"expires_at,omitempty"`
}

type RegisterRequestParams struct {
	Email     types.String `json:"email"`
	FirstName types.String `json:"first_name"`
	LastName  types.String `json:"list_name"`
	Password  types.String `json:"password"`
}

func (r RegisterRequestParams) Validate() error {
	return validation.ValidateStruct(&r,
		validation.Field(&r.Email, validation.Required),
		validation.Field(&r.FirstName, validation.Required),
		validation.Field(&r.LastName, validation.Required),
		validation.Field(&r.Password, validation.Required),
	)
}

type RegisterResponse struct {
	Email     types.String `json:"email"`
	FirstName types.String `json:"first_name"`
	LastName  types.String `json:"last_name"`
}

type Password struct {
	PasswordHash string `db:"password_hash"`
}

type AuthUser struct {
	models.UserModel
	Password
}
