import CircleXMarkIcon from "@/app/icons/circleXMark";

interface ErrorLabelProperties {
    errorMessage?: string
}

const ErrorLabel = (props: ErrorLabelProperties) => {
    return (
        <div className="flex items-center space-x-1 text-error mb-0.5">
            <CircleXMarkIcon className="w-4 h-4" />
            <p className="text-sm font-medium">{props.errorMessage}</p>
        </div>
    )
}

export default ErrorLabel;