import { useState } from "react";
import classNames from "classnames";
import { useController, UseControllerProps } from "react-hook-form";
import { NumberField as AriaNumberField, Input } from 'react-aria-components';
import ErrorLabel from "./inputErrorLabel";

interface NumberFieldProperties extends UseControllerProps {
    id?: string
    className?: string;
    defaultValue?: number | null;
    disabled?: boolean;
}

const NumberField = (props: NumberFieldProperties) => {
    const defaultValue = props.defaultValue? props.defaultValue : undefined;
    const [value, setValue] = useState<string | number | undefined>(defaultValue)
    const { field, fieldState } = useController(props);

    return (
        <div className={classNames(
            props.className,
            "mt-2"
        )}>
            {fieldState.invalid && <ErrorLabel errorMessage={fieldState.error?.message} />}
            <AriaNumberField
                formatOptions={
                    { maximumFractionDigits: 0, }
                }
            >
                <Input
                    {...field}
                    id={props.id}
                    value={value}
                    onChange={e => {
                        setValue(e.target.value);
                        field.onChange(e.target.value);
                    }}
                    className={classNames(
                        "block w-full border rounded-lg focus:ring-0",
                        {
                            "cursor-not-allowed bg-gray-fill text-gray-supporting": props.disabled,
                            "border-gray-stroke-strong": !fieldState.invalid,
                            "border-error bg-error-fill": fieldState.invalid,
                        }
                    )}
                />
            </AriaNumberField>
        </div>

    )
}

export default NumberField;