import { MutationResourceResponse } from "@/graphql/mutation";
import { QueryResourceResponse } from "@/graphql/query";

export interface User {
	id?: string | null
	email?: string | null
	firstName?: string | null
	lastName?: string | null
}

export interface MutationResponse {
    users: MutationResourceResponse
}

export interface QueryResponse {
	users?: QueryResourceResponse<User>
}