{{ $app := .App -}}

package auth

import (
	"context"
	"log/slog"

	"github.com/{{ $app | PackageName }}/accesscontrol"
	"github.com/{{ $app | PackageName }}/log"
	"github.com/{{ $app | PackageName }}/models"
)

type AuthorizationService struct {
	authDatabase AuthDatabase
	ac           accesscontrol.AccessControl
	logger       *slog.Logger
}

func NewAuthorizationService(authDatabase AuthDatabase, ac accesscontrol.AccessControl, logger *slog.Logger) AuthorizationService {
	return AuthorizationService{
		ac:           ac,
		authDatabase: authDatabase,
		logger:       logger.With(log.WithComponent("auth service")),
	}
}

func (service AuthorizationService) AuthorizedUser(ctx context.Context, kind string, action string, resourceID string) (string, error) {
	ctxu, err := models.GetUserContext(ctx)
	if err != nil {
		service.logger.Error("failed to get authorized user", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return "", err
	}

	roles, err := service.authDatabase.GetRoleIDs(ctxu.Id.Data)
	if err != nil {
		service.logger.Error("failed to get user roles", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return "", err
	}

	return ctxu.Id.Data, service.ac.AuthorizeWithResource(ctx, kind, ctxu.Id.Data, action, resourceID, roles...)
}

func (service AuthorizationService) AuthorizeWithResource(ctx context.Context, resource, resourceID, action string) error {
	ctxu, err := models.GetUserContext(ctx)
	if err != nil {
		service.logger.Error("failed to get authorized user", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return err
	}

	roles, err := service.authDatabase.GetRoleIDs(ctxu.Id.Data)
	if err != nil {
		service.logger.Error("failed to get user roles", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return err
	}

	return service.ac.AuthorizeWithResource(
		ctx,
		resource,
		ctxu.Id.Data,
		action,
		resourceID,
		roles...)
}
