{{ $app := .App -}}

package auth

import (
	"context"

	"github.com/{{ $app | PackageName }}/types"
	"github.com/{{ $app | PackageName }}/models"
	"github.com/graph-gophers/graphql-go"
)

type loginResponse struct {
	JWT       string       `json:"jwt,omitempty"`
	ExpiresAt graphql.Time `json:"expires_at,omitempty"`
}

func getFromLoginResponseModel(m models.LoginResponse) *loginResponse {
	expiresAt := graphql.Time{
		Time: m.ExpiresAt,
	}
	return &loginResponse{
		ExpiresAt: expiresAt,
		JWT:       m.JWT,
	}
}

type AuthGraphQL struct {
	ctrl AuthController
}

func NewAuthGraphQL(ctrl AuthController) AuthGraphQL {
	return AuthGraphQL{
		ctrl: ctrl,
	}
}

func (r AuthGraphQL) Login(ctx context.Context, args struct {
	Email    types.String
	Password types.String
}) (*loginResponse, error) {
	loginRequest := models.LoginRequestParams{
		Email:    args.Email,
		Password: args.Password,
	}

	loginResponse, err := r.ctrl.Login(ctx, loginRequest)
	if err != nil {
		return nil, err
	}

	return getFromLoginResponseModel(*loginResponse), nil
}

func (r AuthGraphQL) Register(ctx context.Context, args struct {
	Email     types.String
	FirstName types.String
	LastName  types.String
	Password  types.String
}) (*models.RegisterResponse, error) {
	registerRequest := models.RegisterRequestParams{
		Email:     args.Email,
		FirstName: args.FirstName,
		LastName:  args.LastName,
		Password:  args.Password,
	}

	registerResponse, err := r.ctrl.Register(ctx, registerRequest)
	if err != nil {
		return nil, err
	}

	return registerResponse, nil
}

func (graphQL AuthGraphQL) Profile(ctx context.Context) (*models.UserPassword, error) {
	return graphQL.ctrl.Profile(ctx)
}
