import { useForm } from "react-hook-form";
import useCreateUser from "../hooks/createUser";
import { useNavigate } from "react-router-dom";
import { RESOURCE_URL } from "../const";
import { useEffect } from "react";
import { User } from "../model";
import SingleLayout from "../../components/singleView/layout";
import GridFields from "../../components/singleView/gridFields/gridFields";
import Label from "../../components/labels/label";
import InputField from "@/app/components/inputFields/inputField";
import SecondaryButton from "../../../components/buttons/secondaryButton";
import PrimaryButton from "../../../components/buttons/primaryButton";

export default function UserNew() {
    const [executeMutation, { createLoading, createError, createResult }] = useCreateUser();

    const navigate = useNavigate();

    useEffect(() => {
        if (createResult && createResult > 0) {
            navigate(`/${RESOURCE_URL}`)
        }

    }, [createResult])

    const { getValues, control } = useForm<User>({
        mode: "onBlur",
    });

    const onCreate = () => {
        const values = getValues();

        executeMutation({
            id: values.id,
            email: values.email,
            firstName: values.firstName,
            lastName: values.lastName,
        })
    }

    const onCancel = () => {
        navigate(`/${RESOURCE_URL}`)
    }

    return (
        <SingleLayout>
            <SingleLayout.Title>New User</SingleLayout.Title>
            <form>
                <GridFields className="py-6">
                    <div className="sm:col-span-2">
                        <Label htmlFor="title">
                            Email
                        </Label>
                        <InputField
                            control={control}
                            id="email"
                            name="email"
                            rules={
                                { required: "This field is requiered" }
                            }
                        />
                    </div>
                    <div className="sm:col-span-2">
                        <Label htmlFor="title">
                            First Name
                        </Label>
                        <InputField
                            control={control}
                            id="firstName"
                            name="firstName"
                            rules={
                                { required: "This field is requiered" }
                            }
                        />
                    </div>
                    <div className="sm:col-span-2">
                        <Label htmlFor="title">
                            Last Name
                        </Label>
                        <InputField
                            control={control}
                            name="lastName"
                            id="lastName"
                            rules={
                                { required: "This field is requiered" }
                            }
                        />
                    </div>
                </GridFields>
                <SingleLayout.Footer className="justify-end">
                    <SecondaryButton onClick={onCancel}>Cancel</SecondaryButton>
                    <PrimaryButton onClick={onCreate}>Create</PrimaryButton>
                </SingleLayout.Footer>
            </form>
        </SingleLayout>
    )
}