version: '3'
{{if .DockerComposeInfos }}
services:
{{- range .DockerComposeInfos }}
  {{ .ServiceName }}:
    extends:
      file: {{ .DockerComposeFilePath }}
      service: {{ .ServiceName }}
{{- end }}
{{ end }}
volumes:
  shared-volume: