{{ $app := .App -}}

package mail

import (
	"log/slog"
	"net/smtp"

	"github.com/{{ $app | PackageName }}/config"
	"github.com/{{ $app | PackageName }}/models"
)

type Mail struct {
	logger *slog.Logger
	cfg    config.Config
	email  Email
}

func NewMail(cfg config.Config, logger *slog.Logger) Mail {
	return Mail{
		logger: logger,
		cfg:    cfg,
		email:  NewClient(),
	}
}

func (service Mail) SendMail(mail models.Mail) error {
	mailCfg := service.cfg.Mail

	service.email.SetFrom(mail.From)
	service.email.SetTo(mail.To)
	service.email.SetSubject(mail.Subject)
	service.email.SetText(mail.Text)
	service.email.SetHTML(mail.HTML)

	err := service.email.
		Send(service.cfg.Mail.Addr,
			smtp.PlainAuth("",
				mailCfg.Username,
				mailCfg.Password,
				mailCfg.Host))

	if err != nil {
		service.logger.Error("error sending mail", slog.String("error", err.Error()))
		return err
	}

	return err
}
