export const update{{ .FeatureNameCamelCaseUpper }} = `
mutation Update{{ .FeatureNameCamelCaseUpper }}($id: String!, $model: Update{{ .FeatureNameCamelCaseUpper }}!) {
	{{ .FeatureNameCamelCase }}s {
		update(id: $id, model: $model) {
			code
		}
	}
}`

export const create{{ .FeatureNameCamelCaseUpper }} = `
mutation Create{{ .FeatureNameCamelCaseUpper }}($model: Create{{ .FeatureNameCamelCaseUpper }}!) {
	{{ .FeatureNameCamelCase }}s {
		create(model: $model) {
			code
		}
	}
}`


export const delete{{ .FeatureNameCamelCaseUpper }} = `
mutation Delete{{ .FeatureNameCamelCaseUpper }}($ids: [String!]!) {
	{{ .FeatureNameCamelCase }}s {
		delete(ids: $ids) {
			code
		}
	}
}`