scalar Time
scalar Int64
scalar Float64
scalar Uint

type ResponseStatus {
	code: Int!
}

input Pagination {
	pageSize: Uint
	page: Uint
}

input OrderBy {
	name: String!
	desc: Boolean
}

input ListFilter {
	search: String
}

type LoginResponse {
	jwt: String!
	expires_at: Time!
}

type RegisterResponse {
	email: String!
	first_name: String!
	last_name: String!
}

type AuthUser {
	id: String!
	email: String!
	firstName: String!
	lastName: String!
	active: Boolean!
	creationUserID: String!
	updateUserID: String!
	createdAt: Time!
	updatedAt: Time!
}

type AuthQuery {
	profile: AuthUser
}

type AuthMutation {
	login(email: String!, password: String!): LoginResponse
	register(email: String!, firstName: String!, lastName: String!, password: String!): RegisterResponse
}

type User {
	id: String!
	email: String!
	firstName: String!
	lastName: String!
	creationUserID: String!
	updateUserID: String!
	createdAt: Time!
	updatedAt: Time!
}

input CreateUser {
	id: String!
	email: String!
	firstName: String!
	lastName: String!
}

input UpdateUser {
	id: String!
	email: String!
	firstName: String!
	lastName: String!
}

type UserListResponse {
	count: Int64!
	pageSize: Uint!
	page: Uint!
	data: [User!]!
}

type UserQuery {
	single(id: String!): User
	list(pagination: Pagination, filter: ListFilter, orderBy: [OrderBy!]): UserListResponse
}

type UserMutation {
	create(model: CreateUser!): ResponseStatus
	update(id: String!, model: UpdateUser!): ResponseStatus
	delete(id: String!): ResponseStatus
}

{{- range $feature := .Features }}

type {{ $feature | NameGraphQL }} {
	{{- range $field := .Fields }}
	{{ $field | NameGraphQL }}: {{ $field | TypeGraphQL }}!
	{{- end }}
	creationUserID: String!
	updateUserID: String!
	createdAt: Time!
	updatedAt: Time!
}

input Create{{ $feature | NameGraphQL }} {
	{{- range $field := .Fields | NoneID }}
	{{ $field | NameGraphQL }}: {{ $field | TypeGraphQL }}!
	{{- end }}
}

input Update{{ $feature | NameGraphQL }} {
	{{- range $field := .Fields | NoneID }}
	{{ $field | NameGraphQL }}: {{ $field | TypeGraphQL }}!
	{{- end }}
}

type {{ $feature | NameGraphQL }}ListResponse {
	count: Int64!
	pageSize: Uint!
	page: Uint!
	data: [{{ $feature | NameGraphQL }}!]!
}

type {{ $feature | NameGraphQL }}Query {
	single(id: String!): {{ $feature | NameGraphQL }}
	list(pagination: Pagination, filter: ListFilter, orderBy: [OrderBy!]): {{ $feature | NameGraphQL }}ListResponse
}

type {{ $feature | NameGraphQL }}Mutation {
	create(model: Create{{ $feature | NameGraphQL }}!): ResponseStatus
	update(id: String!, model: Update{{ $feature | NameGraphQL }}!): ResponseStatus
	delete(id: String!): ResponseStatus
}

{{- end }}

schema {
	query: Query
	mutation: Mutation
}

type Query {
	auth: AuthQuery!
	users: UserQuery!
{{- range $feature := .Features }}
	{{ .FeatureNameCamelCase }}s: {{ $feature | NameGraphQL }}Query!
{{- end }}
}

type Mutation {
	authentication: AuthMutation!
	users: UserMutation!
{{- range $feature := .Features }}
	{{ .FeatureNameCamelCase }}s: {{ $feature | NameGraphQL }}Mutation!
{{- end }}
}
