package controllers

import (
	"github.com/{{ .AppNameToPackageName }}/container"
	"github.com/{{ .AppNameToPackageName }}/features/auth"
{{- $AppNameToPackageName := .AppNameToPackageName }}
{{- range .Features }}
	"github.com/{{ $AppNameToPackageName }}/features/{{ .FeatureName }}"
{{- end }}
)

type Controllers struct {
	user    user.UserController
	auth    auth.AuthController
	product product.ProductController
	role    role.RoleController
}

func New(cont container.Container) Controllers {
	return Controllers{
		user:    user.NewUserController(cont),
		auth:    auth.NewAuthController(cont),
		product: product.NewProductController(cont),
		role:    role.NewRoleController(cont),
	}
}

func (c Controllers) User() user.UserController {
	return c.user
}

func (c Controllers) Auth() auth.AuthController {
	return c.auth
}

func (c Controllers) Product() product.ProductController {
	return c.product
}

func (c Controllers) Role() role.RoleController {
	return c.role
}
