{{ $app := .App -}}
{{ $feature := . -}}

package {{ $feature | PackageName }}

import (
	"context"
	"log/slog"

	"github.com/{{ $app | PackageName }}/config"
	"github.com/{{ $app | PackageName }}/container"
	"github.com/{{ $app | PackageName }}/features/auth"
	"github.com/{{ $app | PackageName }}/features/{{ $feature | PackageName }}/models"
	"github.com/{{ $app | PackageName }}/log"
	"github.com/{{ $app | PackageName }}/types"

	validation "github.com/go-ozzo/ozzo-validation"
)

type {{ $feature | GoType }}Controller struct {
	{{ $feature.FeatureName | LowerCamelCase }} {{ $feature | GoType }}Service
	logger  *slog.Logger
	cfg     config.Config
}

func New{{ $feature | GoType }}Controller(cont container.Container) {{ $feature | GoType }}Controller {
	authorizationService := auth.NewAuthorizationService(cont, "{{ $feature.FeatureNameCamelCase }}")
	{{ $feature.FeatureName | LowerCamelCase }}Service := New{{ $feature | GoType }}Service(cont, authorizationService)

	return {{ $feature | GoType }}Controller{
		{{ $feature.FeatureName | LowerCamelCase }}: {{ $feature.FeatureName | LowerCamelCase }}Service,
		logger:  cont.GetLogger().With(log.WithComponent("{{ $feature.FeatureName | LowerCamelCase }} controller")),
		cfg:     cont.GetConfig(),
	}
}

func (ctrl {{ $feature | GoType }}Controller) GetByID(ctx context.Context, id string) (*models.{{ $feature | GoType }}Model, error) {
	if err := validation.Validate(id, types.Required("{{ $feature.FeatureNameCamelCase }}ID")); err != nil {
		ctrl.logger.Error("failed to validate user ID", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return nil, err
	}

	result, err := ctrl.{{ $feature.FeatureName | LowerCamelCase }}.GetByID(ctx, id)
	if err != nil {
		ctrl.logger.Error("failed to get {{ $feature.FeatureName | LowerCamelCase }} by ID", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return nil, err
	}

	if result.IsDefault() {
		return nil, nil
	}

	return result, nil
}

func (ctrl {{ $feature | GoType }}Controller) Get(ctx context.Context, request models.{{ $feature | GoType }}ListRequestParams) (*models.{{ $feature | GoType }}ListResponse, error) {
	return ctrl.{{ $feature.FeatureName | LowerCamelCase  }}.Get(ctx, request)
}

func (ctrl {{ $feature | GoType }}Controller) Create(ctx context.Context, value models.{{ $feature | GoType }}Model) error {
	if err := value.CreateValidate(); err != nil {
		ctrl.logger.Error("failed to validate create item", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return err
	}
	return ctrl.{{ $feature.FeatureNameCamelCase }}.Create(ctx, value)
}

func (ctrl {{ $feature | GoType }}Controller) Update(ctx context.Context, value models.{{ $feature | GoType }}Model) error {
	if err := value.UpdateValidate(); err != nil {
		ctrl.logger.Error("failed to validate update item", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return err
	}

	return ctrl.{{ $feature.FeatureNameCamelCase }}.Update(ctx, value)
}

func (ctrl {{ $feature | GoType }}Controller) Delete(ctx context.Context, ids []string) error {
	if err := validation.Validate(ids, types.Required("{{ $feature.FeatureNameCamelCase }}ID")); err != nil {
		ctrl.logger.Error("failed to validate delete single item", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return err
	}

	return ctrl.{{ $feature.FeatureNameCamelCase }}.Delete(ctx, ids)
}
