import WithGraphQL from "@/components/withGraphQL";
import { Outlet } from "react-router-dom";

interface AuthLayoutProperties { }

export default function AuthLayout(props: AuthLayoutProperties) {
    return (
        <WithGraphQL>
            <Outlet />
        </WithGraphQL>
    )
}
