import React from "react";
import classNames from "classnames";
import { Control, Controller } from "react-hook-form";
import { TimeField as AriaTimeField, DateInput, DateSegment } from 'react-aria-components';
import { Time as CustomTime, parseTime } from "@/lib/time";

interface TimeFieldProps extends React.DetailedHTMLProps<React.InputHTMLAttributes<HTMLInputElement>, HTMLInputElement> {
    control: Control
}

const TimeField = (props: TimeFieldProps) => {
    let defaultTime: CustomTime | undefined;

    if (typeof (props.defaultValue) === "string") {
        defaultTime = parseTime(props.defaultValue)
    }

    const [value, setValue] = React.useState(defaultTime)

    return (
        <Controller
            name={props.name ?? ""}
            control={props.control}
            defaultValue={defaultTime}
            render={({ field }) => {
                return (
                    <AriaTimeField
                        className={classNames(props.className, "flex flex-col w-20 mt-2 border border-gray-300 rounded-lg ring-1 ring-inset ring-gray-100 placeholder:text-gray-400 focus:ring-0 focus:ring-inset")}
                        {...field}
                        value={value}
                        onChange={v => {
                            const time = new CustomTime(v.hour, v.minute, v.second);
                            field.onChange(time);
                            setValue(time)
                        }}
                    >
                        <DateInput className="flex flex-1 py-2 pl-2">
                            {segment => <DateSegment
                                segment={segment}
                                className="px-0.5 tabular-nums outline-none rounded-sm focus:bg-blue-700 focus:text-white caret-transparent placeholder-shown:italic"
                            />}
                        </DateInput>
                    </AriaTimeField>
                )
            }}
        />
    )
}

export default TimeField;