const defaultTheme = require('tailwindcss/defaultTheme');
const colors = require('tailwindcss/colors');

/** @type {import('tailwindcss').Config} */
module.exports = {
  content: [
    './pages/**/*.{js,ts,jsx,tsx,mdx}',
    './components/**/*.{js,ts,jsx,tsx,mdx}',
    './app/**/*.{js,ts,jsx,tsx,mdx}',
  ],
  purge: [
    './pages/**/*.{js,ts,jsx,tsx,mdx}',
    './components/**/*.{js,ts,jsx,tsx,mdx}',
    './app/**/*.{js,ts,jsx,tsx,mdx}',
  ],
  theme: {
    screens: {
      'xs': '320px',
      ...defaultTheme.screens,
    },
    colors: {
      transparent: 'transparent',
      current: 'currentColor',
      black: colors.black,
      white: colors.white,
      error: colors.red["500"],
      warning: colors.amber["500"],
      success: colors.green["500"],
      brand: {
        DEFAULT: "#3b82f6",
        hover: "color-mix(in srgb, white 5%, #3b82f6)",
        active: "color-mix(in srgb, black 10%, #3b82f6)"
      },
      gray: {
        "primary": colors.slate["950"],
        "supporting": colors.slate["800"],
        "stroke-strong": colors.slate["600"],
        "stroke-weak": colors.slate["200"],
        "fill": colors.slate["100"],
      },
      background: colors.white,
    },
    extend: {
      backgroundImage: {
        'gradient-radial': 'radial-gradient(var(--tw-gradient-stops))',
        'gradient-conic':
          'conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops))',
      },
    },
  },
  plugins: [
    // ...
    require('@tailwindcss/forms'),
  ],
}
