{{ $app := .App -}}
{{ $features := $app.Features -}}

package main

import (
	"context"
	"database/sql"
	"fmt"
	"os"
	"os/signal"

	"log/slog"

	"github.com/{{ $app | PackageName }}/accesscontrol"
	"github.com/{{ $app | PackageName }}/api"
	"github.com/{{ $app | PackageName }}/api/rest"
	"github.com/{{ $app | PackageName }}/api/graphql"
	"github.com/{{ $app | PackageName }}/config"
	"github.com/{{ $app | PackageName }}/container"
	"github.com/{{ $app | PackageName }}/features/auth"
	"github.com/{{ $app | PackageName }}/features/mail"
	"github.com/{{ $app | PackageName }}/features/storage"
	"github.com/{{ $app | PackageName }}/features/user"
{{- range $feature := $features }}
	"github.com/{{ $app | PackageName }}/features/{{ $feature | PackageName }}"
{{- end }}
	"github.com/{{ $app | PackageName }}/hostserver"
	"github.com/{{ $app | PackageName }}/log"

	_ "github.com/lib/pq"
)

func main() {
	ctx := context.Background()

	cfg, err := config.Parse()
	if err != nil {
		log.DefaultLogger.Error("failed to parse config", log.WithError(err))
		os.Exit(1)
	}

	logger := log.New(cfg)
	logger.Info("using following config",
		slog.String("version", cfg.Server.Version),
		slog.String("host", cfg.Server.Host),
		slog.String("port", cfg.Server.Port),
		slog.Bool("spa enabled", cfg.SPA.IsSPA()),
		slog.String("log level", slog.Level(cfg.Server.LogLevel).String()),
		slog.String("db", cfg.DB.Host),
		slog.Int("db port", cfg.DB.Port),
		slog.String("mail", cfg.Mail.Host),
		slog.String("organization", cfg.Organization.Name),
		slog.String("organization email", cfg.Organization.Email),
		slog.String("cerbos address", cfg.Cerbos.Address),
	)

	cfg.Server.JwtKeyPair, err = config.GetKeys(logger, cfg.Server)
	if err != nil {
		logger.Error("failed to get keys", log.WithError(err))
		os.Exit(1)
	}

	c := container.New(
		logger,
		cfg,
	)

	err = registerDependencies(c)
	if err != nil {
		logger.Error("failed to register dependencies", log.WithError(err))
		os.Exit(1)
	}

	router, err := api.NewHttpApi(c)
	if err != nil {
		logger.Error("failed to create http api", log.WithError(err))
		os.Exit(1)
	}

	server := hostserver.NewServer(router, logger)
	ctx, cancel := context.WithCancel(ctx)

	sig := make(chan os.Signal, 1)
	signal.Notify(sig, os.Interrupt)
	go func() {
		osCall := <-sig
		logger.Info("received os call", slog.String("os call", osCall.String()))
		cancel()

		db := container.MustResolve[*sql.DB](c)
		if err := db.Close(); err != nil {
			logger.Error("failed to close db connection", log.WithError(err))
		}
	}()

	if err := server.Serve(ctx, cfg.Server.Host, cfg.Server.Port); err != nil {
		logger.Error("failed to serve server", log.WithError(err))
	}
}

func registerDependencies(c *container.Container) (err error) {
	db, err := createDBConn(c.GetConfig())
	if err != nil {
		return err
	}

	container.RegisterSingleton[*sql.DB](c, func() *sql.DB { return db })
	container.RegisterSingleton[accesscontrol.AccessControl](c, accesscontrol.New)
	container.RegisterSingleton[mail.Mail](c, mail.NewMail)

	// register storage
	container.RegisterAs[storage.Storage](c, container.Singleton, storage.NewLocalStorage)
	container.RegisterSingleton[storage.StorageService](c, storage.NewStorageService)
	container.RegisterSingleton[storage.StorageController](c, storage.NewStorageController)

	// register auth
	container.RegisterSingleton[auth.AuthDatabase](c, auth.NewAuthDatabase)
	container.RegisterSingleton[auth.AuthenticationService](c, auth.NewAuthenticationService)
	container.RegisterSingleton[auth.AuthorizationService](c, auth.NewAuthorizationService)
	container.RegisterSingleton[auth.AuthController](c, auth.NewAuthController)
	container.RegisterSingleton[auth.AuthGraphQL](c, auth.NewAuthGraphQL)
	container.RegisterSingleton[auth.AuthRest](c, auth.NewAuthRest)

	// register user
	container.RegisterSingleton[user.UserDatabase](c, user.NewUserDatabase)
	container.RegisterSingleton[user.UserService](c, user.NewUserService)
	container.RegisterSingleton[user.UserController](c, user.NewUserController)
	container.RegisterSingleton[user.UserGraphQL](c, user.NewUserGraphQL)
	container.RegisterSingleton[user.UserRest](c, user.NewUserRest)

{{- range $feature := $features }}
	{{ $package := $feature | PackageName }}
	{{ $typeName := $feature.FeatureName | UpperCamelCase -}}
	// register {{ $feature.FeatureName | LowerCamelCase }}
	container.RegisterSingleton[{{ $package }}.{{ $typeName }}Database](c, {{ $package }}.New{{ $typeName }}Database)
	container.RegisterSingleton[{{ $package }}.{{ $typeName }}Service](c, {{ $package }}.New{{ $typeName }}Service)
	container.RegisterSingleton[{{ $package }}.{{ $typeName }}Controller](c, {{ $package }}.New{{ $typeName }}Controller)
	container.RegisterSingleton[{{ $package }}.{{ $typeName }}GraphQL](c, {{ $package }}.New{{ $typeName }}GraphQL)
	container.RegisterSingleton[{{ $package }}.{{ $typeName }}Rest](c, {{ $package }}.New{{ $typeName }}Rest)
{{- end }}
	// register api
	container.RegisterSingleton[graphql.Resolver](c, graphql.NewResolver)
	container.RegisterAs[graphql.GraphQLHandler](c, container.Singleton, graphql.NewHandler)
	container.RegisterAs[rest.FeatureHandler](c, container.Singleton, rest.New)
	container.RegisterAs[rest.AuthHandler](c, container.Singleton, rest.NewAuth)

	return c.BootServices()
}

func createDBConn(cfg config.Config) (*sql.DB, error) {
	db, err := sql.Open("postgres", cfg.DB.ConnectionURL())
	if err != nil {
		return nil, fmt.Errorf("failed to open db connection: %w", err)
	}

	if err := db.Ping(); err != nil {
		return nil, fmt.Errorf("failed to ping db: %w", err)
	}

	return db, err
}