import { Date, Time } from "./time";

export const ToHumanReadable = function (v?: any): string {
    if (!v) {
        return "";
    }

    if (v instanceof Date) {
        return v.toDateString();
    } else if (v instanceof Time) {
        return v.toHourMinute();
    }

    return v.toString();
}