{{ $app := .App -}}

package graphql

import (
	"net/http"

	"github.com/{{ $app | PackageName }}/api/graphql/schema"

	"github.com/graph-gophers/graphql-go"
	"github.com/graph-gophers/graphql-go/relay"
)

type GraphQLHandler interface {
	http.Handler
}

func NewHandler(resolver Resolver) GraphQLHandler {
	opts := []graphql.SchemaOpt{graphql.UseFieldResolvers()}

	schema := graphql.MustParseSchema(schema.Schema, &resolver, opts...)
	return &relay.Handler{Schema: schema}
}
