import { Fragment, useContext } from 'react'
import { Transition, Dialog } from "@headlessui/react"
import {
    XMarkIcon,
} from '@heroicons/react/24/outline'
import { NavigationItem } from './navbar/navigation'
import Navbar from './navbar/navbar'
import DrawerContext from '@/app/(account)/contexts/drawerContext'

interface MobileSidebarProperties {
    navigationItems: NavigationItem[]
}

export default function MobileSidebar(props: MobileSidebarProperties) {
    const drawerState = useContext(DrawerContext);

    return (
        <Transition.Root show={drawerState?.isOpen} as={Fragment}>
            <Dialog as="div" className="relative z-50 lg:hidden" onClose={() => drawerState?.Close()}>
                <Transition.Child
                    as={Fragment}
                    enter="transition-opacity ease-linear duration-300"
                    enterFrom="opacity-0"
                    enterTo="opacity-100"
                    leave="transition-opacity ease-linear duration-300"
                    leaveFrom="opacity-100"
                    leaveTo="opacity-0"
                >
                    <div className="fixed inset-0 bg-gray-primary/80" />
                </Transition.Child>

                <div className="fixed inset-0 flex">
                    <Transition.Child
                        as={Fragment}
                        enter="transition ease-in-out duration-300 transform"
                        enterFrom="-translate-x-full"
                        enterTo="translate-x-0"
                        leave="transition ease-in-out duration-300 transform"
                        leaveFrom="translate-x-0"
                        leaveTo="-translate-x-full"
                    >
                        <Dialog.Panel className="relative flex flex-1 w-full max-w-xs pt-2 pb-2 pl-2 mr-16">
                            <Transition.Child
                                as={Fragment}
                                enter="ease-in-out duration-300"
                                enterFrom="opacity-0"
                                enterTo="opacity-100"
                                leave="ease-in-out duration-300"
                                leaveFrom="opacity-100"
                                leaveTo="opacity-0"
                            >
                                <div className="absolute top-0 flex justify-center w-16 pt-5 left-full">
                                    <button type="button" className="-m-2.5 p-2.5" onClick={() => drawerState?.Close()}>
                                        <XMarkIcon className="w-6 h-6 text-white" aria-hidden="true" />
                                    </button>
                                </div>
                            </Transition.Child>
                            <div className="flex flex-col px-6 pb-4 overflow-y-auto bg-brand grow gap-y-5 rounded-2xl">
                                <div className="flex items-center h-16 shrink-0"></div>
                                <Navbar navigationItems={props.navigationItems} />
                            </div>
                        </Dialog.Panel>
                    </Transition.Child>
                </div>
            </Dialog>
        </Transition.Root>
    )
}