import classNames from 'classnames';
import { NavigationItem } from './navbar/navigation';
import Navbar from './navbar/navbar';

interface StaticSidebarPorperties {
    className?: string
    navigationItems: NavigationItem[]
}

export default function StaticSidebar(props: StaticSidebarPorperties) {
    return (
        <div className={classNames(
            props.className,
            "w-64 max-lg:hidden"
        )}>
            <div className="flex flex-col flex-1 px-5 pb-4 overflow-y-auto">
                <div className="flex items-center h-16 shrink-0"></div>
                <Navbar navigationItems={props.navigationItems} />
            </div>
        </div>
    )
}