package models

import (
	basemodels "github.com/{{ .AppNamePackage }}/models"
	"github.com/{{ .AppNamePackage }}/types"
	validation "github.com/go-ozzo/ozzo-validation"
)

type {{ .FeatureNameGo }}Model struct {
	{{- range .Fields }}
	{{ .FieldNameCamelCaseUpper }} {{ .FieldTypeGo }} `db:"{{ .Field | NameDB }}" goqu:"omitempty"`
	{{- end }}
	basemodels.Userlog
}

func (m {{ .FeatureNameGo }}Model) IsDefault() bool {
	return m.{{ .IDField.FieldNameCamelCaseUpper }}.Len() < 1
}

func (m {{ .FeatureNameGo }}Model) CreateValidate() error {
	return validation.ValidateStruct(&m,
		{{- range .Fields }}
		validation.Field(&m.{{ .FieldNameCamelCaseUpper }}, validation.Required),
		{{- end }}
	)
}

func (m {{ .FeatureNameGo }}Model) UpdateValidate() error {
	return validation.ValidateStruct(&m,
		validation.Field(&m.{{ .IDField.FieldNameCamelCaseUpper }}, validation.Required),
	)
}

type {{ .FeatureNameGo }}ListRequestParams = basemodels.ListRequestParams[basemodels.ListFilter]

type {{ .FeatureNameGo }}ListResponse = basemodels.ListResponse[{{ .FeatureNameGo }}Model]
