import { RouteObject } from "react-router-dom"
import Login from "./(auth)/login/page"
import Register from "./(auth)/register/page"
import AuthLayout from "./(auth)/layout"
import AccountLayout from "./(account)/layout"
import Users from "./(account)/user/page"
import User from "./(account)/user/[id]/page"
import UserEdit from "./(account)/user/[id]/edit/page"
import UserNew from "./(account)/user/new/page"
{{- range .Features }}
import {{ .FeatureNameCamelCaseUpper }}s from "./(account)/{{ .FeatureNameDir }}/page"
import {{ .FeatureNameCamelCaseUpper }} from "./(account)/{{ .FeatureNameDir }}/[id]/page"
import {{ .FeatureNameCamelCaseUpper }}Edit from "./(account)/{{ .FeatureNameDir }}/[id]/edit/page"
import {{ .FeatureNameCamelCaseUpper }}New from "./(account)/{{ .FeatureNameDir }}/new/page"
{{- end }}

import Profile from "./(account)/profile/page"

import { ListPageWrapper } from "./(account)/components/listPage/listPageWrapper/listPageWrapper"

export const Routes: RouteObject[] = [
    {
        path: "/",
        element: <AuthLayout />,
        children: [{
            path: "/",
            element: <Login />,

    }]
    },
    {
        path: "/",
        element: <AuthLayout />,
        children: [
            {
                path: "/login",
                element: <Login />
            }
        ]
    },
    {
        path: "/",
        element: <AuthLayout />,
        children: [
            {
                path: "/register",
                element: <Register />
            }
        ]
    },
    {
        path: "/",
        element: <AccountLayout />,
        children: [
            {
                path: "/profile",
                element: <Profile />
            },
            {
                path: "users",
                element: <ListPageWrapper Component={Users} />,
            },
            {
                path: "users/:id",
                element: <User />
            },
            {
                path: "users/new",
                element: <UserNew />
            },
            {
                path: "users/:id/edit",
                element: <UserEdit />
            },
{{- range $feature := .Features }}
            {
                path: "{{ $feature | URL }}s",
                element: <ListPageWrapper Component={{ "{" }}{{ .FeatureNameCamelCaseUpper }}s} />,
            },
            {
                path: "{{ $feature | URL }}s/:id",
                element: <{{ .FeatureNameCamelCaseUpper }} />
            },
            {
                path: "{{ $feature | URL }}s/new",
                element: <{{ .FeatureNameCamelCaseUpper }}New />
            },
            {
                path: "{{ $feature | URL }}s/:id/edit",
                element: <{{ .FeatureNameCamelCaseUpper }}Edit />
            },
{{- end }}
        ]
    }
]