import { RouteObject } from "react-router-dom"
import Login from "./(auth)/login/page"
import AuthLayout from "./(auth)/layout"
import AccountLayout from "./(account)/layout"
{{- range .Features }}
import {{ .FeatureTypeName }}s from "./(account)/{{ .FeatureNameDir }}/page"
import {{ .FeatureTypeName }} from "./(account)/{{ .FeatureNameDir }}/[id]/page"
import {{ .FeatureTypeName }}Edit from "./(account)/{{ .FeatureNameDir }}/[id]/edit/page"
import {{ .FeatureTypeName }}New from "./(account)/{{ .FeatureNameDir }}/new/page"
{{- end }}

import Profile from "./(account)/profile/page"

import { ListPageWrapper } from "./(account)/components/listPage/listPageWrapper/listPageWrapper"

export const Routes: RouteObject[] = [
    {
        path: "/",
        element: <AuthLayout />,
        children: [{
            path: "/",
            element: <Login />,

    }]
    },
    {
        path: "/",
        element: <AuthLayout />,
        children: [
            {
                path: "/login",
                element: <Login />
            }
        ]
    },
    {
        path: "/",
        element: <AccountLayout />,
        children: [
            {
                path: "/profile",
                element: <Profile />
            },
{{- range .Features }}
            {
                path: "{{ .FeatureNameURL }}s",
                element: <ListPageWrapper Component={{ "{" }}{{ .FeatureTypeName }}s} />,
            },
            {
                path: "{{ .FeatureNameURL }}s/:id",
                element: <{{ .FeatureTypeName }} />
            },
            {
                path: "{{ .FeatureNameURL }}s/new",
                element: <{{ .FeatureTypeName }}New />
            },
            {
                path: "{{ .FeatureNameURL }}s/:id/edit",
                element: <{{ .FeatureTypeName }}Edit />
            },
{{- end }}
        ]
    }
]