import { delete{{ .FeatureTypeName }} as graphQL } from "../graphql/mutation";
import { DeleteMutationResult, MutationResourceResponse } from "@/graphql/mutation";
import { MutationResponse  } from "../model";
import useDelete from "@/graphql/hooks/useDelete";

export default function useDelete{{ .FeatureTypeName }}(): DeleteMutationResult<string,number | undefined> {
    const parseResult = (data?: MutationResponse | null): number | undefined => {
        return data?.{{ .FeatureNameCamelCase }}s?.delete?.code
    }

    return useDelete({parseResult, graphQL})
}