import { get{{ .FeatureTypeName }}s as graphQL } from "../graphql/query";
import { ListResponse, ListQueryResult } from "@/graphql/utils/list";
import { {{ .FeatureTypeName }}, QueryResponse } from "../model";
import useList from "@/graphql/hooks/useList";

export default function useList{{ .FeatureTypeName }}(): ListQueryResult<ListResponse<{{ .FeatureTypeName }}>> {
    const parseResult = (data?: QueryResponse): ListResponse<{{ .FeatureTypeName }}> | undefined => {
        return data?.{{ .FeatureNameLowerCamel }}s?.list;
    }

    return useList<{{ .FeatureTypeName }}>({parseResult, graphQL})
}