import { get{{ .FeatureNameCamelCaseUpper }}s as graphQL } from "../graphql/query";
import { ListResponse, ListQueryResult } from "@/graphql/utils/list";
import { {{ .FeatureNameCamelCaseUpper }}, QueryResponse } from "../model";
import useList from "@/graphql/hooks/useList";

export default function useList{{ .FeatureNameCamelCaseUpper }}(): ListQueryResult<ListResponse<{{ .FeatureNameCamelCaseUpper }}>> {
    const parseResult = (data?: QueryResponse): ListResponse<{{ .FeatureNameCamelCaseUpper }}> | undefined => {
        return data?.{{ .FeatureNameCamelCase }}s?.list;
    }

    return useList<{{ .FeatureNameCamelCaseUpper }}>({parseResult, graphQL})
}