import useSingle from "@/graphql/hooks/useSingle";
import { getSingle{{ .FeatureNameCamelCaseUpper }} as graphQL } from "../graphql/query";
import { SingleQueryResult } from "@/graphql/query";
import { {{ .FeatureNameCamelCaseUpper }}, QueryResponse } from "../model";

export default function useSingle{{ .FeatureNameCamelCaseUpper }}(id: string): SingleQueryResult<{{ .FeatureNameCamelCaseUpper }}> {
    const parseResult = (data?: QueryResponse): {{ .FeatureNameCamelCaseUpper }} | undefined => {
        return data?.{{ .FeatureNameCamelCase }}s?.single
    }

    return useSingle<{{ .FeatureNameCamelCaseUpper }}>({id, parseResult, graphQL})
}