import { update{{ .FeatureTypeName }} as graphQL } from "../graphql/mutation";
import { UpdateMutationResult } from "@/graphql/mutation";
import { {{ .FeatureTypeName }}, MutationResponse } from "../model";
import useUpdate from "@/graphql/hooks/useUpdate";

export default function useUpdate{{ .FeatureTypeName }}(): UpdateMutationResult<{{ .FeatureTypeName }},number | undefined> {
const parseResult = (data?: MutationResponse | null) : number | undefined  => {
        return data?.{{ .FeatureNameCamelCase }}s?.update?.code;
    }

    return useUpdate({parseResult, graphQL})
}