import { update{{ .FeatureNameCamelCaseUpper }} as graphQL } from "../graphql/mutation";
import { UpdateMutationResult } from "@/graphql/mutation";
import { {{ .FeatureNameCamelCaseUpper }}, MutationResponse } from "../model";
import useUpdate from "@/graphql/hooks/useUpdate";

export default function useUpdate{{ .FeatureNameCamelCaseUpper }}(): UpdateMutationResult<{{ .FeatureNameCamelCaseUpper }},number | undefined> {
const parseResult = (data?: MutationResponse | null) : number | undefined  => {
        return data?.{{ .FeatureNameCamelCase }}s?.update?.code;
    }

    return useUpdate({parseResult, graphQL})
}