import { useNavigate, useParams } from "react-router-dom";

import SingleLayout from "@/app/(account)/components/singleView/layout";
import DataListView from "@/app/(account)/components/singleView/dataListView/dataListView";
import SecondaryButton from "@/app/(account)/../components/buttons/secondaryButton";
import PrimaryButton from "@/app/(account)/../components/buttons/primaryButton";
import LoadingSingleItem from "@/app/(account)/components/singleView/loadingSingleItem";
import Error from "@/app/(account)/error";
import ItemNotFound from "@/app/(account)/components/singleView/itemNotFound";

import useSingleUser from "../../hooks/singleUser";
import { RESOURCE_URL } from "../../const";

export default function UserSingle() {
    const { id = "" } = useParams()
    const navigate = useNavigate();

    const { loading, data, error, itemNotFound } = useSingleUser(id);

    if (loading) {
        return <LoadingSingleItem className="py-6" />
    }

    if (error) {
        return <Error error={error} />
    }

    if (itemNotFound) {
        return <ItemNotFound className="py-6" />
    }

    const onCancel = () => {
        navigate(`/${RESOURCE_URL}`)
    }

    const onEdit = () => {
        navigate(`/${RESOURCE_URL}/${id}/edit`);
    }

    return (
        <>
            <SingleLayout.Title>User</SingleLayout.Title>
            <DataListView className="mt-6">
                <DataListView.Row>
                    <DataListView.Label>
                        Email
                    </DataListView.Label>
                    <DataListView.Field>
                        {data?.email}
                    </DataListView.Field>
                </DataListView.Row>
                <DataListView.Row>
                    <DataListView.Label>
                        First Name
                    </DataListView.Label>
                    <DataListView.Field>
                        {data?.firstName}
                    </DataListView.Field>
                </DataListView.Row>
                <DataListView.Row>
                    <DataListView.Label>
                        Last Name
                    </DataListView.Label>
                    <DataListView.Field>
                        {data?.lastName}
                    </DataListView.Field>
                </DataListView.Row>
            </DataListView>
            <SingleLayout.Footer>
                <PrimaryButton onClick={onEdit}>
                    Edit
                </PrimaryButton>
                <SecondaryButton onClick={onCancel}>
                    Cancel
                </SecondaryButton>
            </SingleLayout.Footer>
        </>
    )
}