{{- $appName := .App.AppNameCamelCase -}}

CREATE SCHEMA auth;

ALTER SCHEMA auth OWNER TO {{ $appName }}user;

CREATE TABLE auth.user (
    id varchar NOT NULL,
    email varchar NOT NULL,
    first_name varchar NOT NULL,
    last_name varchar NOT NULL,
    password_hash varchar,
    active boolean DEFAULT false NOT NULL,
    creation_user_id varchar,
    update_user_id varchar,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp
);

ALTER TABLE ONLY auth.user
    ADD CONSTRAINT uq_email UNIQUE (email);

ALTER TABLE ONLY auth.user
    ADD CONSTRAINT users_email_key UNIQUE (email);

ALTER TABLE ONLY auth.user
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);

ALTER SCHEMA auth OWNER TO {{ $appName }}user;

CREATE TABLE auth.role (
    id character varying,
    code character varying,
    name character varying,
    creation_user_id character varying,
    update_user_id character varying,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp
);

ALTER TABLE auth.role OWNER TO {{ $appName }}user;

CREATE TABLE auth.user_role (
    user_id character varying,
    role_id character varying,
    creation_user_id character varying,
    update_user_id character varying,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp
);

ALTER TABLE auth.user_role OWNER TO {{ $appName }}user;

CREATE SCHEMA app;

{{ range $feature := .Features }}
CREATE TABLE app.{{ $feature.FeatureName | LowerSnakeCase }} (
{{- range $index, $field := .Fields }}
    {{ $field | DBName }} {{ $field | DBType }}{{- if $field.Nullable }} {{ $field.Nullable }}{{end}},
{{- end }}
    creation_user_id character varying,
    update_user_id character varying,
    created_at timestamp without time zone,
    updated_at timestamp
);

ALTER TABLE app.{{ $feature.FeatureName | LowerSnakeCase }} OWNER TO {{ $appName }}user;
{{end}}
