{{ $feature := . -}}

import { Outlet } from "react-router-dom";
import SingleLayout from "../../components/singleView/layout";

export default function {{ $feature.FeatureName | UpperCamelCase }}SingleLayout() {
    return (
        <SingleLayout>
            <Outlet />
        </SingleLayout>
    )
}
