import { Listbox, Transition } from '@headlessui/react';
import { Fragment } from 'react';
import { CheckIcon } from '@heroicons/react/24/outline';
import { SortLabel as OrderBy} from '@/lib/query';
import ChevronDownIcon from '@/app/icons/chevronDown';
import classNames from 'classnames';

export interface SortButtonProperties {
    orderByLabels: OrderBy[]
    selectedSortLabel?: OrderBy
    sortOnChange?: (v: OrderBy) => void
    className?: string
}

export default function SortButton(props: SortButtonProperties) {
    let initValue: OrderBy | undefined

    if (props.selectedSortLabel) {
        initValue = props.orderByLabels.find(label => label.name == props.selectedSortLabel?.name)
    }

    return (
        <div className={classNames(props.className, "relative")}>
            <Listbox value={initValue} onChange={props.sortOnChange}>
                <Listbox.Button className="inline-flex items-center justify-center w-full px-4 py-2 text-sm font-semibold rounded-lg sm:w-28 gap-x-2 ring-1 ring-inset ring-gray-stroke-weak hover:gray-fill">
                    {initValue ? "Sorted" : "Sort"}
                    <ChevronDownIcon className="w-4 h-4 text-gray-stroke-strong" aria-hidden="true" />
                </Listbox.Button>
                <Transition
                    as={Fragment}
                    enter="transition ease-out duration-100"
                    enterFrom="transform opacity-0 scale-95"
                    enterTo="transform opacity-100 scale-100"
                    leave="transition ease-in duration-75"
                    leaveFrom="transform opacity-100 scale-100"
                    leaveTo="transform opacity-0 scale-95"
                >
                    <Listbox.Options className="absolute right-0 z-10 w-40 mt-2 origin-top-right bg-white border rounded-lg shadow-lg border-gray-fill">
                        <div className="py-1">
                            {props.orderByLabels.map((sortLabel) => (
                                <Listbox.Option
                                    key={sortLabel.name}
                                    value={sortLabel}
                                    as={Fragment}
                                >
                                    {({ selected }) => (
                                        <span
                                            className="flex justify-between px-4 py-2 text-sm cursor-pointer text-gray-supporting hover:bg-gray-fill hover:text-gray-primary"
                                        >{sortLabel.name} {selected && <CheckIcon className="w-5 h-5" />}</span>
                                    )}
                                </Listbox.Option>
                            ))}
                        </div>
                    </Listbox.Options>
                </Transition>
            </Listbox>
        </div>
    )
}