import React from "react";
import classNames from "classnames";
import { Control, Controller } from "react-hook-form";

interface TextareaProps extends React.DetailedHTMLProps<React.InputHTMLAttributes<HTMLInputElement>, HTMLInputElement> {
    control: Control
}

const Textarea = (props: TextareaProps) => {
    return (
        <Controller
            name={props.name ?? ""}
            control={props.control}
            defaultValue={props.defaultValue}

            render={({ field }) => {
                return (
                    <textarea
                        {...field}
                        rows={4}
                        className={classNames(props.className, "block w-full mt-2 border border-gray-300 rounded-lg ring-1 ring-inset ring-gray-100 placeholder:text-gray-400 focus:ring-0 focus:ring-inset")}
                    />
                )
            }}
        />
    )
}

export default Textarea;