package middlewares

import (
	"log/slog"

	"github.com/go-chi/chi/v5"
	"github.com/go-chi/chi/v5/middleware"
)

type logPrinter func(v ...any)

func (f logPrinter) Print(v ...any) {
	f(v)
}

func AddMiddlewareLogger(r *chi.Mux, logger *slog.Logger) {
	logFunc := logPrinter(func(values ...any) {
		logger.Debug("HTTP", slog.Any("values", values))
	})

	middleware.DefaultLogger = middleware.RequestLogger(&middleware.DefaultLogFormatter{
		Logger:  logFunc,
		NoColor: true,
	})

	r.Use(middleware.Logger)
}
