{{ $app := .App -}}

package middlewares

import (
	"errors"
	"fmt"
	"strings"
	"time"

	"github.com/{{ $app | PackageName }}/models"
	"github.com/{{ $app | PackageName }}/types"
	"github.com/golang-jwt/jwt/v4"
)

const (
	AuthorizationHeader = "Authorization"
	BearerPrefix        = "Bearer"
	InvalidToken        = "invalid token"
	ExpiredToken        = "ExpiredToken"
)

func invalidTokenError(field string) error {
	return fmt.Errorf("%s - missing field: %s", InvalidToken, field)
}

func getAuthorizedUserFromClaims(claims jwt.MapClaims) (models.UserContext, error) {
	id, ok := claims["id"].(string)
	if !ok {
		return models.UserContext{}, invalidTokenError("id")
	}
	email, ok := claims["email"].(string)
	if !ok {
		return models.UserContext{}, invalidTokenError("email")
	}
	firstName, ok := claims["firstName"].(string)
	if !ok {
		return models.UserContext{}, invalidTokenError("firstName")
	}
	lastName, ok := claims["lastName"].(string)
	if !ok {
		return models.UserContext{}, invalidTokenError("lastName")
	}
	expiresAtStr, ok := claims["expiresAt"].(string)
	if !ok {
		return models.UserContext{}, invalidTokenError("expiresAt")
	}
	expiresAt, err := time.Parse(time.RFC3339, expiresAtStr)
	if err != nil {
		return models.UserContext{}, err
	}

	if time.Now().After(expiresAt) {
		return models.UserContext{}, errors.New(ExpiredToken)
	}

	return models.UserContext{
		Id:        types.StringFrom(id),
		Email:     types.StringFrom(email),
		FirstName: types.StringFrom(firstName),
		LastName:  types.StringFrom(lastName),
	}, nil
}

func getToken(tokenString string) string {
	tokens := strings.Split(tokenString, BearerPrefix)

	if len(tokens) < 2 {
		return ""
	}

	return strings.TrimSpace(tokens[1])
}
