import { RouteObject } from "react-router-dom"
import Login from "./(auth)/login/page"
import Register from "./(auth)/register/page"
import AuthLayout from "./(auth)/layout"
import AccountLayout from "./(account)/layout"
import UserSingleLayout from "./(account)/user/(single)/layout"
import UserList from "./(account)/user/page"
import UserSingle from "./(account)/user/(single)/[id]/page"
import UserEdit from "./(account)/user/(single)/[id]/edit/page"
import UserNew from "./(account)/user/(single)/new/page"
{{- range $feature := .Features }}
import {{ $feature.FeatureName | UpperCamelCase }}List from "./(account)/{{ .FeatureNameDir }}/page"
import {{ $feature.FeatureName | UpperCamelCase }}Single from "./(account)/{{ .FeatureNameDir }}/(single)/[id]/page"
import {{ $feature.FeatureName | UpperCamelCase }}Edit from "./(account)/{{ .FeatureNameDir }}/(single)/[id]/edit/page"
import {{ $feature.FeatureName | UpperCamelCase }}New from "./(account)/{{ .FeatureNameDir }}/(single)/new/page"
import {{ $feature.FeatureName | UpperCamelCase }}SingleLayout from "./(account)/{{ .FeatureNameDir }}/(single)/layout"
{{- end }}

import Profile from "./(account)/profile/page"

import { ListPageWrapper } from "./(account)/components/listPage/listPageWrapper/listPageWrapper"

export const Routes: RouteObject[] = [
    {
        path: "/",
        element: <AuthLayout />,
        children: [{
            path: "/",
            element: <Login />,

    }]
    },
    {
        path: "/",
        element: <AuthLayout />,
        children: [
            {
                path: "/login",
                element: <Login />
            }
        ]
    },
    {
        path: "/",
        element: <AuthLayout />,
        children: [
            {
                path: "/register",
                element: <Register />
            }
        ]
    },
    {
        path: "/",
        element: <AccountLayout />,
        children: [
            {
                path: "/profile",
                element: <Profile />
            },
            {
                path: "user/",
                element: <ListPageWrapper Component={UserList} />,
            },
            {
                path: "user/",
                element: <UserSingleLayout />,
                children: [
                    {
                        path: ":id",
                        element: <UserSingle />
                    },
                    {
                        path: "new",
                        element: <UserNew />
                    },
                    {
                        path: ":id/edit",
                        element: <UserEdit />
                    },
                ]
            },
{{- range $feature := .Features }}
            {
                path: "{{ $feature | URL }}",
                element: <ListPageWrapper Component={{ "{" }}{{ .FeatureNameCamelCaseUpper }}List} />,
            },
            {
                path: "{{ $feature | URL }}/",
                element: <{{ $feature.FeatureName | UpperCamelCase }}SingleLayout />,
                children: [
                    {
                        path: "{{ $feature | URL }}/:id",
                        element: <{{ .FeatureNameCamelCaseUpper }}Single />
                    },
                    {
                        path: "{{ $feature | URL }}/new",
                        element: <{{ .FeatureNameCamelCaseUpper }}New />
                    },
                    {
                        path: "{{ $feature | URL }}/:id/edit",
                        element: <{{ .FeatureNameCamelCaseUpper }}Edit />
                    },
                ]
            },
{{- end }}
        ]
    }
]