
apiVersion: api.cerbos.dev/v1
resourcePolicy:
  version: "default"
  resource: "{{ .FeatureNameCamelCase }}"
  rules:
    - actions:
        - read
      effect: EFFECT_ALLOW
      roles:
        - {{ .FeatureNameCamelCase }}:viewer

    - actions:
        - create
        - read
        - update
        - delete
      effect: EFFECT_ALLOW
      roles:
        - {{ .FeatureNameCamelCase }}:editor