{{ $feature := . -}}

apiVersion: api.cerbos.dev/v1
resourcePolicy:
  version: "default"
  resource: "{{ $feature.FeatureName | LowerSnakeCase }}"
  rules:
    - actions:
        - read
      effect: EFFECT_ALLOW
      roles:
        - {{ $feature.FeatureName | LowerSnakeCase }}:viewer

    - actions:
        - create
        - read
        - update
        - delete
      effect: EFFECT_ALLOW
      roles:
        - {{ $feature.FeatureName | LowerSnakeCase }}:editor