{{ $feature := . -}}
import { useForm } from "react-hook-form";
import useCreate{{ .FeatureNameCamelCaseUpper }} from "../hooks/create{{ .FeatureNameCamelCaseUpper }}";
import { useNavigate } from "react-router-dom";
import { RESOURCE_URL } from "../const";
import { useEffect } from "react";
import { {{ .FeatureNameCamelCaseUpper }} } from "../model";
import SingleLayout from "../../components/singleView/layout";
import GridFields from "../../components/singleView/gridFields/gridFields";
import Label from "../../components/labels/label";
import InputField from "@/app/components/inputs/inputField";
import SecondaryButton from "../../../components/buttons/secondaryButton";
import PrimaryButton from "../../../components/buttons/primaryButton";

{{- if $feature | HasBoolean -}}
import Checkbox from "@/app/components/inputs/checkboxField";
{{ end -}}
{{if $feature | HasNumber -}}
import NumberField from "@/app/components/inputs/numberField";
{{ end -}}
{{if $feature | HasText -}}
import TextareaField from "@/app/components/inputs/textareaField";
{{ end -}}
{{if $feature | HasTime -}}
import TimeField from "@/app/components/inputs/timefield";
{{ end -}}
{{if $feature | HasDate -}}
import DateField from "@/app/components/inputs/datefield";
{{ end -}}
{{if $feature | HasFile -}}
import FileField from "@/app/components/inputs/filefield";
{{ end }}

export default function {{ $feature.FeatureNameCamelCaseUpper }}New() {
    const [executeMutation, { createLoading, createError, createResult }] = useCreate{{ .FeatureNameCamelCaseUpper }}();

    const navigate = useNavigate();

    useEffect(() => {
        if (createResult && createResult > 0) {
            navigate(`/${RESOURCE_URL}`)
        }

    }, [createResult])

    const form = useForm<{{ .FeatureNameCamelCaseUpper }}>({
        mode: "onBlur",
    });

    const onCreate = () => {
        const values = form.getValues();

        executeMutation(values);
    }
    

    const onCancel = () => {
        navigate(`/${RESOURCE_URL}`)
    }

    return (
        <SingleLayout>
            <SingleLayout.Title>New {{ .FeatureNameCamelCaseUpper }}</SingleLayout.Title>
            <form>
                <GridFields className="py-6">
                {{- range $field := $feature.Fields | NoneID }}
                    <div className="sm:col-span-2">
                        <Label htmlFor="{{ $field.FieldNameCamelCase }}">
                            {{ .FieldNameHumanReadable }}
                        </Label>
                        {{- if $field | IsNumber }}
                        <NumberField
                            control={form.control}
                            name="{{ $field.FieldNameCamelCase }}"
                            rules={
                                {
                                {{- if $field.Nullable | not }}
                                    required: "This field is required"
                                {{- end }}
                                }
                            }
                        />{{- end }}
                        {{- if $field | IsBoolean }}
                        <Checkbox
                            control={form.control}
                            name="{{ $field.FieldNameCamelCase }}"
                            id="{{ $field.FieldNameCamelCase }}"
                        />{{- end }}
                        {{- if $field | IsString }}
                        <InputField
                            control={form.control}
                            name="{{ $field.FieldNameCamelCase }}"
                            id="{{ $field.FieldNameCamelCase }}"
                            rules={
                                {
                                {{- if $field.Nullable | not }}
                                    required: "This field is required"
                                {{- end }}
                                }
                            }
                        />{{- end }}
                        {{- if $field | IsText }}
                        <TextareaField
                            id="{{ .FieldNameCamelCase }}"
                            name="{{ $field.FieldNameCamelCase }}"
                            control={form.control}
                            rules={
                                {
                                {{- if $field.Nullable | not }}
                                    required: "This field is required"
                                {{- end }}
                                }
                            }
                        />{{- end }}
                        {{- if $field | IsTime }}
                        <TimeField
                            id="{{ $field.FieldNameCamelCase }}"
                            name="{{ $field.FieldNameCamelCase }}"
                            control={form.control}
                            rules={
                                {
                                {{- if $field.Nullable | not }}
                                    required: "This field is required"
                                {{- end }}
                                }
                            }
                        />{{- end }}
                        {{- if $field | IsDate }}
                        <DateField
                            name="{{ $field.FieldNameCamelCase }}"
                            control={form.control}
                        />{{- end }}
                        {{- if $field | IsFile }}
                        <FileField
                            control={form.control}
                            name="{{ $field.FieldNameCamelCase }}"
                            resource={RESOURCE_URL.toLowerCase()}
                            defaultValue=""
                            onChange={e => {
                                if (!e) {
                                    form.setValue("{{ $field.FieldNameCamelCase }}", "");
                                    return
                                }
                                form.setValue("{{ $field.FieldNameCamelCase }}", e)
                            }}
                        />{{- end }}
                        {{- if $field | IsUndefined -}}
                        <InputField
                            {...form.register("{{ $field.FieldNameCamelCase }}")}
                            type="{{ $field | HTMLType }}"
                            id="{{ $field.FieldNameCamelCase }}"
                            rules={
                                {
                                {{- if $field.Nullable | not }}
                                    required: "This field is required"
                                {{- end }}
                                }
                            }
                        />{{- end}}
                    </div>
                {{- end }}
                </GridFields>
                <SingleLayout.Footer className="justify-end">
                    <SecondaryButton onClick={onCancel}>Cancel</SecondaryButton>
                    <PrimaryButton onClick={onCreate}>Create</PrimaryButton>
                </SingleLayout.Footer>
            </form>
        </SingleLayout>
    )
}