{{ $app := .App -}}

package user

import (
	"context"
	"log/slog"

	"github.com/{{ $app | PackageName }}/accesscontrol"
	"github.com/{{ $app | PackageName }}/container"
	"github.com/{{ $app | PackageName }}/features/auth"
	"github.com/{{ $app | PackageName }}/features/user/models"
	"github.com/{{ $app | PackageName }}/types"
	"github.com/{{ $app | PackageName }}/log"

	"github.com/google/uuid"
)

type UserService struct {
	authorizationService auth.AuthorizationService
	logger               *slog.Logger
	userRepository       UserDatabase
}

func NewUserService(cont container.Container, authorizationService auth.AuthorizationService) UserService {
	repository := NewUserDatabase(cont.GetDB())
	service := UserService{
		authorizationService: authorizationService,
		userRepository:       repository,
		logger:               cont.GetLogger().With(log.WithComponent("user service")),
	}

	return service
}

func (service UserService) GetByID(ctx context.Context, id string) (*models.UserModel, error) {
	err := service.authorizationService.Authorize(ctx, accesscontrol.READ, id)
	if err != nil {
		service.logger.Error("failed to authorize user", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return nil, err
	}

	item, err := service.userRepository.GetByID(id)
	if err != nil {
		service.logger.Error("failed to get item", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return nil, err
	}
	return item, nil
}

func (service UserService) Get(ctx context.Context, request models.UserListRequestParams) (*models.UserListResponse, error) {
	err := service.authorizationService.Authorize(ctx, accesscontrol.READ, accesscontrol.ALLRESOURCE)
	if err != nil {
		service.logger.Error("failed to authorize user", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return nil, err
	}

	request.Pagination.SetDefaultIfEmpty()

	items, err := service.userRepository.Get(request)
	if err != nil {
		service.logger.Error("failed to get items", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return nil, err
	}
	return items, nil
}

func (service UserService) Create(ctx context.Context, value models.UserModel) error {
	userID, err := service.authorizationService.AuthorizedUser(ctx, accesscontrol.CREATE, accesscontrol.NEW)
	if err != nil {
		service.logger.Error("failed to authorize user", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return err
	}

	value.Id = types.StringFrom(uuid.NewString())
	value.Userlog.CreationUserID = types.StringFrom(userID)

	err = service.userRepository.Create([]models.UserModel{value})
	if err != nil {
		service.logger.Error("failed to create item", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return err
	}
	return nil
}

func (service UserService) Update(ctx context.Context, value models.UserModel) error {
	userID, err := service.authorizationService.AuthorizedUser(ctx, accesscontrol.UPDATE, value.Id.Data)
	if err != nil {
		service.logger.Error("failed to authorize user", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return err
	}

	value.UpdateUserID = types.StringFrom(userID)

	err = service.userRepository.Update(value)
	if err != nil {
		service.logger.Error("failed to update item", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return err
	}
	return nil
}

func (service UserService) Delete(ctx context.Context, ids []string) error {
	err := service.authorizationService.Authorize(ctx, accesscontrol.DELETE, accesscontrol.ALLRESOURCE)
	if err != nil {
		service.logger.Error("failed to authorize user", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return err
	}

	err = service.userRepository.Delete(ids)
	if err != nil {
		service.logger.Error("failed to delete item", log.WithError(err), log.WithCorrelationID(ctx), log.WithUserContext(ctx))
		return err
	}
	return nil
}
