package graphql

import (
	"net/http"

	"github.com/{{ .AppNameToPackageName }}/api/graphql/schema"
	"github.com/{{ .AppNameToPackageName }}/controllers"

	"github.com/graph-gophers/graphql-go"
	"github.com/graph-gophers/graphql-go/relay"
)

func NewHandler(controllers controllers.Controllers) http.Handler {
	resolver := NewResolver(controllers)

	opts := []graphql.SchemaOpt{graphql.UseFieldResolvers()}

	schema := graphql.MustParseSchema(schema.Schema, &resolver, opts...)
	return &relay.Handler{Schema: schema}
}
