{
  "common": {
    "email": "E-mail",
    "firstName": "First Name",
    "lastName": "Last Name",
    "id": "Id",
    "itemNotFound": "Item not found",
    "loading": "Loading...",
    "error": "Error"
  },
  "user": {
    "email": "Email",
    "firstName": "First Name",
    "lastName": "Last Name"
  }
}