{
  "common": {
    "email": "E-mail",
    "firstName": "Keresztnév",
    "lastName": "Vezetéknév",
    "id": "Azonosító",
    "itemNotFound": "Az elem nem található",
    "loading": "Betöltés...",
    "error": "Hiba"
  },
  "user": {
    "email": "E-mail",
    "firstName": "Keresztnév",
    "lastName": "Vezetéknév"
  }
}
