import useSingle from "@/graphql/hooks/useSingle";
import { getSingleUser as graphQL } from "../graphql/query";
import { SingleQueryResult } from "@/graphql/query";
import { User, QueryResponse } from "../model";

export default function useSingleUser(id: string): SingleQueryResult<User> {
    const parseResult = (data?: QueryResponse): User | undefined => {
        return data?.users?.single
    }

    return useSingle<User>({id, parseResult, graphQL})
}