package models

import (
	basemodels "github.com/{{ .AppNamePackage }}/models"
	"github.com/{{ .AppNamePackage }}/types"
	validation "github.com/go-ozzo/ozzo-validation"
)

type UserModel struct {
	Id        types.String `db:"id" goqu:"omitempty"`
	Email     types.String `db:"email" goqu:"omitempty"`
	FirstName types.String `db:"first_name" goqu:"omitempty"`
	LastName  types.String `db:"last_name" goqu:"omitempty"`
	Age       types.Int64  `db:"age" goqu:"omitempty"`
	basemodels.Userlog
}

func (m UserModel) IsDefault() bool {
	return m.Id.Len() < 1
}

func (m UserModel) CreateValidate() error {
	return validation.ValidateStruct(&m,
		validation.Field(&m.Id, validation.Required),
		validation.Field(&m.Email, validation.Required),
		validation.Field(&m.FirstName, validation.Required),
		validation.Field(&m.LastName, validation.Required),
		validation.Field(&m.Age, validation.Required),
	)
}

func (m UserModel) UpdateValidate() error {
	return validation.ValidateStruct(&m,
		validation.Field(&m.Id, validation.Required),
	)
}

type UserListRequestParams = basemodels.ListRequestParams[basemodels.ListFilter]

type UserListResponse = basemodels.ListResponse[UserModel]
