import { ListResponse, ListQueryParams, ListQueryResult } from "@/lib/query";
import { gql, useLazyQuery, WatchQueryFetchPolicy } from "@apollo/client";

interface ListProperties<T> {
    parseResult: (data?: any) => ListResponse<T> | undefined
    graphQL: string
}

export default function useList<T>({ parseResult, graphQL }: ListProperties<T>): ListQueryResult<ListResponse<T>> {
    const [executeQuery, { data, called, loading, error }] = useLazyQuery(gql(graphQL));

    const execute = ({ page, pageSize, search, orderBy, fetchPolicy }: ListQueryParams) => {
        executeQuery({
            variables: {
                page: page,
                pageSize: pageSize,
                search: search,
                orderBy: orderBy,
            },
            fetchPolicy: fetchPolicy,
        });
    };

    const list = parseResult(data);

    const itemNotFound = called && !loading && !list;

    return [execute, { data: list, called, loading, error, itemNotFound }];
}