import classNames from "classnames";
import Button, { ButtonProperties } from "./button";

export default function TertiaryButton(props: ButtonProperties) {
    const state = props.state || 'active';

    return (
        <Button
            {...props}
            className={classNames(props.className,
                "text-brand underline underline-offset-2",
                {
                    "hover:bg-gray-fill active:bg-gray-stroke-weak": state === 'active',
                    "hover:bg-gray-fill cursor-not-allowed": state === 'loading',
                    "bg-gray-stroke-weak cursor-not-allowed": state === 'disabled',
                }
            )}
        >
            {props.children}
        </Button>
    )
}