{{ $app := .App -}}

organization:
  name: "{{ .AppName }}"
  email: "{{ .Email }}"
  url: 0.0.0.0
server:
  version: 0.0.0
  log_level: 0 # -4 for debug, 0 for info, 1 for warning, 2 for error
  host: 0.0.0.0
  port: 8080
  ed25519_private_key: ./configs/dev_private.pem
  ed25519_public_key: ./configs/dev_public.pem
db:
  host: {{ $app | PackageName }}_db
  port: 5432
  user: {{ $app | PackageName }}user
  password: dbpass
  db_name: {{ $app | PackageName }}
mail:
  host: ""
  username: ""
  password: ""
spa:
  index_file: ""
  static_dir: ""
cerbos:
  address: "unix:/sock/cerbos.sock"