import { Outlet } from "react-router-dom";
import SingleLayout from "../../components/singleView/layout";

export default function UserSingleLayout() {
    return (
        <SingleLayout>
            <Outlet />
        </SingleLayout>
    )
}
