import 'package:{{ .App.AppName | LowerSnakeCase }}/l10n/generated/app_localizations.dart';
import 'package:flutter/material.dart';

extension LocalizationStrings on BuildContext {
  AppLocalizations get strings => AppLocalizations.of(this);
}
