{{ $app := .App -}}

package rest

import (
	"net/http"

	"github.com/{{ $app | PackageName }}/features/auth"
	"github.com/go-chi/chi/v5"
)

type AuthHandler interface {
	http.Handler
}

func NewAuth(auth auth.AuthRest) AuthHandler {
	r := chi.NewMux()

	r.Route("/", func(r chi.Router) {
		r.Get("/activate/{userID}", auth.ActivateUser)
		r.Post("/login", auth.Login)
		r.Post("/register", auth.Register)
	})

	return r
}
