{{ $app := . -}}

package controllers

import (
	"github.com/{{ $app | PackageName }}/container"
	"github.com/{{ $app | PackageName }}/features/auth"
	"github.com/{{ $app | PackageName }}/features/user"

{{- $AppNameToPackageName := $app | PackageName }}
{{- range $feature := .Features }}
	"github.com/{{ $AppNameToPackageName }}/features/{{ $feature | PackageName }}"
{{- end }}
)

type Controllers struct {
	auth    auth.AuthController
	user    user.UserController
{{- range $feature := .Features }}
	{{ $feature.FeatureNameCamelCase }}    {{ $feature | PackageName }}.{{ $feature | GoType }}Controller
{{- end }}
}

func New(cont container.Container) Controllers {
	return Controllers{
		auth:    auth.NewAuthController(cont),
		user:    user.NewUserController(cont),
{{- range $feature := .Features }}
		{{ $feature.FeatureNameCamelCase }}:    {{ $feature | PackageName }}.New{{ $feature | GoType }}Controller(cont),
{{- end }}
	}
}

func (c Controllers) Auth() auth.AuthController {
	return c.auth
}
func (c Controllers) User() user.UserController {
	return c.user
}

{{- range $feature := .Features }}
func (c Controllers) {{ $feature | GoType }}() {{ $feature | PackageName }}.{{ $feature | GoType }}Controller {
	return c.{{ .FeatureNameCamelCase }}
}

{{- end }}