{{ $feature := . -}}
{{ $idField := $feature | IDField -}}

import { useContext, useEffect } from 'react';

import Collection from '@/app/components/collection/collection';
import { ListQueryParams, SortLabel } from '@/lib/query';

import { QueryContext } from '../contexts/queryContext';
import TableSkeleton from '../components/skeletons/tableSkeleton';
import ListView from '../components/listView/view';

import Error from '../error';
import { RESOURCE_NAME, RESOURCE_URL } from './const';


import useList{{ $feature.FeatureName | UpperCamelCase }} from './hooks/list{{ $feature.FeatureName | UpperCamelCase }}';
import { {{ $feature.FeatureName | UpperCamelCase }} } from './model';

const columns = [
{{- range $field := $feature.Fields | NoneID }}
  {
    id: "{{ $field.Name | LowerSnakeCase }}",
    name: "{{ $field.Name | HumanReadable }}",
  },
{{- end -}}
]

const orderByLabels: SortLabel[] = [
{{- range $field := $feature.Fields }}
  {
    name: "{{ $field.Name | LowerSnakeCase }}",
    label: "{{ $field.Name | HumanReadable }}",
    desc: false,
  },
{{- end -}}
];

function viewLink(value: {{ $feature.FeatureName | UpperCamelCase }}): string {
  return `/{{ $feature.FeatureName | LowerCamelCase }}/${value.id}`
}

function editLink(value: {{ $feature.FeatureName | UpperCamelCase }}): string {
  return `/{{ $feature.FeatureName | LowerCamelCase }}/${value.id}/edit`
}

export default function {{ $feature.FeatureName | UpperCamelCase }}List() {
  return (
    <ListView
      resourceName={RESOURCE_NAME}
      resourceUrl={RESOURCE_URL}
      orderByLabels={orderByLabels}
    >
      <{{ $feature.FeatureName | UpperCamelCase }}ListComponent />
    </ListView>
  )
}

function {{ $feature.FeatureName | UpperCamelCase }}ListComponent() {
  const queryProps = useContext(QueryContext);

  const [executeQuery, { data, error, loading, itemNotFound, called }] = useList{{ $feature.FeatureName | UpperCamelCase }}();

  const listQueryParams: ListQueryParams = {
    page: queryProps.currentPage,
    pageSize: queryProps.pageSize,
    search: queryProps.filter,
  }

  if (queryProps.orderBy) {
    listQueryParams.orderBy = [queryProps.orderBy]
  }

  useEffect(() => {
    executeQuery(listQueryParams);
  }, [queryProps.pageSize, queryProps.currentPage, queryProps.filter, queryProps.orderBy])

  if (error) {
    return <Error error={error} />
  }

  if (!called) {
    return <TableSkeleton />
  }

  if (loading) {
    return <TableSkeleton />
  }

  if (!data?.data) {
    return <TableSkeleton />
  }

  if (itemNotFound) {
    return <div>Item not found</div>
  }

  const items = data.data ?? [];

  return (
    <>
      <div className="overflow-x-auto sm:rounded-lg">
        <Collection
          items={items}
          toViewLink={viewLink}
          toEditLink={editLink}
          columns={columns}

          currentPage={queryProps?.currentPage ?? 1}
          count={data.count}
          pageSize={queryProps?.pageSize ?? 20}
          onClick={queryProps?.setCurrentPage}
        />
      </div>
    </>
  )
}