import React from "react";
import classNames from "classnames";

const Input = React.forwardRef((props: React.DetailedHTMLProps<React.InputHTMLAttributes<HTMLInputElement>, HTMLInputElement>, ref:React.ForwardedRef<HTMLInputElement>) => {
    return (
        <input
            ref={ref}
            {...props}
            className={classNames(
                props.className,
                "block w-full mt-2 border border-gray-stroke-strong rounded-lg ring-1 ring-inset ring-gray-fill placeholder:text-gray-stroke-strong focus:ring-0 focus:ring-inset",
                {
                    "cursor-not-allowed bg-gray-fill text-gray-supporting": props.disabled
                }
            )}
        />
    )
})

export default Input;