import classNames from "classnames";
import { Control, Controller, FieldValues, RegisterOptions } from "react-hook-form";

interface InputFieldProperties {
    control: Control;
    name: string;
    rules?: Omit<RegisterOptions<FieldValues, string>,"valueAsNumber" | "valueAsDate" | "setValueAs" | "disabled">;
    id?: string;
    className?: string;
    defaultValue?: any;
    disabled?: boolean;
}

const Input = (props: InputFieldProperties) => {
    return (
        <Controller
            name={props.name}
            control={props.control}
            rules={props.rules}
            render={({ field }) => {
                return (
                    <input
                        {...field}
                        className={classNames(
                            props.className,
                            "block w-full mt-2 border border-gray-stroke-strong rounded-lg focus:ring-0",
                            {
                                "cursor-not-allowed bg-gray-fill text-gray-supporting": props.disabled
                            }
                        )}
                    />
                )
            }}

        />
    )
}

export default Input;