import classNames from "classnames";
import { Control, Controller } from "react-hook-form";

interface InputFieldProperties {
    control: Control;
    name: string;
    id?: string;
    className?: string;
    defaultValue?: any;
    disabled?: boolean;
}

const Input = (props: InputFieldProperties) => {
    return (
        <Controller
            name={props.name}
            control={props.control}
            render={({ field }) => {
                return (
                    <input
                        {...props}
                        {...field}
                        className={classNames(
                            props.className,
                            "block w-full mt-2 border border-gray-stroke-strong rounded-lg focus:ring-0",
                            {
                                "cursor-not-allowed bg-gray-fill text-gray-supporting": props.disabled
                            }
                        )}
                    />
                )
            }}

        />
    )
}

export default Input;