import 'package:{{ .App.AppName | LowerSnakeCase }}/components/token_store_provider.dart';
import 'package:flutter/material.dart';
import 'package:provider/provider.dart';

class AppProviders extends StatelessWidget {
  const AppProviders({
    super.key,
    required this.child,
  });

  final Widget child;

  @override
  Widget build(BuildContext context) {
    return MultiProvider(
      providers: [
        TokenStoreProvider(),
      ],
      child: child,
    );
  }
}
